@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    --color-option-1: #ffffff;
    --color-option-2: #c1c1c1;
    --color-option-3: #808080;
    --color-option-4: #3e3e3e;
    --color-option-5: #000000;
}

body {
    background-color: black;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 1.3rem;
}


.mob-head {
    display: block;
    color: var(--color-option-1);
    font-size: 3.5rem;
    margin-top: 40%;
    z-index: 1;
}

.des-head{
    display: none;
}

form {
    padding: 1rem;
    color: var(--color-option-3);
}

input {
    width: 100%;
    padding: .2rem;
    border: 2px solid var(--color-option-2);
    
}

.login-wrapper {
    background-color: var(--color-option-1);
    width: 98%;
    height: 42rem;
    border-radius: 1rem 1rem 0rem 0rem;
    position: fixed;
    bottom: 0%;
    right: 1%;
}

p {
    text-align: left;
    padding-top: 1.5rem;
    padding-bottom: .4rem;
}

.submit-button {
    margin: 2.5rem 30% 0 30%;
    width: 40%;
    background-color: var(--color-option-3);
    padding: .2rem .3rem;
    color: var(--color-option-1);
    text-align: center;
    text-decoration: none;
}


@media screen and (min-width: 480px) {

    .mob-head {
        display: none;
    }

    .des-head{
        display:block;
        margin: 3rem auto 0 auto;
        color: var(--color-option-3);
        font-size: 5.3rem;
    }
    
    .login-wrapper {
        width: 32rem;
        right: 0rem;
        top: 0;
        position: fixed;
        height: 100%;
        border-radius: 2rem 0rem 0rem 2rem;
    }

    form {
        width: 90%;
        margin: 3rem auto 0 auto;
    }
  }