---
sidebar_position: 5
---
# Test Report
This document contains information parsed from the testing workflows for the latest merged pull requests to the main branch.

## Frontend Unit Test Results

## Backend Unit Test Results
To run all backend unit tests with coverage:
```bash
cd backend
vendor/bin/sail artisan test --coverage
```

## Integration Test Results

## Acceptance Test Results